In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from sqlalchemy import create_engine
import urllib

In [2]:
ar_cleaned = pd.read_excel('ar_reports_cleaned.xlsx')

In [3]:
ar_cleaned.dtypes

license_number              object
license_provided           float64
ar_company                  object
ar_company_state            object
count_payor                  int64
sum_days_over                int64
orig_amt                   float64
bal_out                    float64
current                    float64
30_days                    float64
60_days                    float64
90_days                    float64
over_90_days               float64
delinquent                   int64
date                datetime64[ns]
client                      object
client_state                object
summary                      int64
a                          float64
b                             bool
why_no_lic                  object
notes                       object
dtype: object

In [4]:
# Typing the driver directly into the create_engine kept not working, so I'm trying it this way
driver="ODBC Driver 17 for SQL Server"
engine = create_engine(f'mssql://LAPTOP-E6QKON1L/ar_reports?driver={driver}')
engine_con = engine.connect()

In [5]:
for comp in ar_cleaned['ar_company'].unique():
    if len(ar_cleaned[ar_cleaned['ar_company'] == comp]['ar_company_state'].unique()) > 1:
        print(comp)

Abide
Euflora
Hierba Buena
LTRMN CA
LTRMN Inc.
The Prime Leaf

In [6]:
ar_cleaned['ar_company'].value_counts()

Barbary Coast                                        67
Patients Mutual Assistance Collective Corporation    63
Urban Pharm                                          60
SAN JOSE WELLNESS                                    59
Torrey Holistics                                     58
                                                     ..
CT Tech and Media Inc                                 1
Chronic Pain Releaf Center Long Beach                 1
Gage - Adrian                                         1
David Ventura                                         1
MMD - Long Beach                                      1
Name: ar_company, Length: 8198, dtype: int64

In [7]:
ar_cleaned.to_sql('ar_reports', engine_con, index=False, if_exists='replace')

In [8]:
pd.read_sql('ar_reports', engine_con)

,license_number,license_provided,ar_company,ar_company_state,count_payor,sum_days_over,orig_amt,bal_out,current,30_days,...,over_90_days,delinquent,date,client,client_state,summary,a,b,why_no_lic,notes
0,0,0.0,(blank),None,1,0,0.0,38800.41,2321.28,7759.92,...,14257.58,0,2019-11-06,THC Design,CA,1,38800.41,True,None,None
1,0,0.0,(blank),None,1,0,0.0,38800.41,0.00,3593.52,...,14257.58,0,2019-11-20,THC Design,CA,1,38800.41,True,None,None
2,0,0.0,017 Management,None,1,0,0.0,4000.00,0.00,4000.00,...,0.00,0,2019-02-28,Herbology,CA,1,4000.00,True,Can't Find,None
3,C9-0000341-LIC,0.0,10 Collective,CA,1,0,0.0,1078.00,0.00,0.00,...,0.00,0,2019-06-26,DionyMed,BC,1,1078.00,True,None,None
4,C9-0000341-LIC,0.0,10 Collective,CA,1,0,0.0,26603.76,0.00,5765.00,...,0.00,0,2020-03-28,Herbl,CA,1,26603.76,True,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27672,0,0.0,Zoen Co,None,1,0,0.0,23331.20,0.00,0.00,...,23331.20,0,2021-02-28,Umbrla,CA,1,23331.20,True,Can't Find,None
27673,0,0.0,Zoen Co,None,1,0,0.0,23331.20,0.00,0.00,...,23331.20,0,2020-09-30,Umbrla,CA,1,23331.20,True,Can't Find,None
27674,0,0.0,Zoen Co,None,1,0,0.0,23331.20,0.00,0.00,...,23331.20,0,2020-10-31,Umbrla,CA,1,23331.20,True,Can't Find,None
27675,0,0.0,Zoen Co,None,1,0,0.0,23331.20,0.00,0.00,...,23331.20,0,2020-11-30,Umbrla,CA,1,23331.20,True,Can't Find,None
27676,0,0.0,Zoen Co,None,1,0,0.0,23331.20,0.00,0.00,...,23331.20,0,2020-06-30,Umbrla,CA,1,23331.20,True,Can't Find,None